body {
	display: block;
	margin: 8px;
	max-width: 65ch;
	line-height: 30px;
}

h1 {
	font-size: 2.2em;
	font-family: sans-serif, serif;
}
h2 {
	font-family: sans-serif, serif;
}
h4 {
	font-family: sans-serif, serif;
}
.comment {
	border-style: solid;
	background-color: gray;
}
.comment-reply {
	
}
