<!DOCTYPE html>
<html class="{{ 'dark' if dark_mode else '' }}">
<head>
	<title>Pyratch Developer Build 4</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Welcome to Pyratch!</h1>
<a href="/settings">Go To Settings</a>
<br>
<h2>Featured Scratchers</h2>
<div>
	<a href="http://127.0.0.1:5000/users/__Falcon-Games__">__Falcon-Games___</a>
	<h4>The original creator of Pyratch</h4>
</div>
<div>
	<a href="http://127.0.0.1:5000/users/EngineerRunner">EngineerRunner</a>
	<h4>The current maintainer of Pyratch</h4>
</div>
<div>
	<a href="http://127.0.0.1:5000/users/mybearworld">mybearworld</a>
	<h4>A nice bear</h4>
</div>
<div>
	<a href="http://127.0.0.1:5000/users/Redstone1080">Redstone1080</a>
	<h4>The creator of Snazzle and probably a Minecraft player!</h4>
</body>
<div>
	<a href="http://127.0.0.1:5000/users/PPPDUD">PPPDUD</a>
	<h4>Get it, dude, dud, PPPDUD, okay that makes no sense</h4>
</div>
<div>
	<a href="http://127.0.0.1:5000/users/Paddle2See">Paddle2See</a>
	<h4>A Scratch Team member who choose an interesting username</h4>
</div>
<br>
<h2>Featured Projects</h2>
{% for project in featured_projects %}
<div>
	<a href="http://127.0.0.1:5000/projects/{{ project.id }}">{{ project.title }}</a>
	<h4>By <a href="http://127.0.0.1:5000/users/{{ project.creator }}">{{ project.creator }}</a></h4>
</div>
{% endfor %}
</html>
