<!DOCTYPE html>
<html class="{{ 'dark' if dark_mode else '' }}">
<head>
	<title>Pyratch Developer Build - Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<form method="POST">
  <div>
  <input type="checkbox" id="turbowarp-embed" name="turbowarp-embed">
  <label for="turbowarp-embed">Turbowarp Embed?</label>
  <input type="checkbox" id="dark-mode" name="dark-mode">
  <label for="dark-mode">Dark Mode?</label>
  </div>
  <br>
  <input type="submit" value="Submit Settings">
  {% if success %}
  	<p>Your changes have been submitted sucessfully</p>
  {% endif %}
  <a href="/">Go To Homepage</a>
</form>
</html>
