<!DOCTYPE html>
<html>
<head>
	<title>Pyratch Developer Build - User Followers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	{% if dark_mode %}
		<link rel="stylesheet" href="{{ url_for('static', filename='styles-dark.css') }}">
	{% else %}
		<link rel="stylesheet" href="{{ url_for('static', filename='styles-light.css') }}">
	{% endif %}
</head>
<body>
	<img src="{{ user.icon_url }}">
	<h1>{{ user.name }}</h1>
	<h4>Lives in {{ user.country }}</h4>
	<h4>Joined on {{ info.join_date }}</h4>
	<br><br>
	<h2>Followers ({{ user.follower_count() }})
	{% for follower in info.all_followers %}
		<a href="http://127.0.0.1:5000/users/{{ follower.name }}">{{ follower.name }}</a>
	{% endfor %}
</body>
</html>
