<!DOCTYPE html>
<html>
<head>
	<title>Pyratch Developer Build - Userpage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<img src="{{ user.icon_url }}">
	<h1>{{ user.name }}</h1>
	<h4>Lives in {{ user.country }}</h4>
	<h4>Joined on {{ user.year }} {{ user.month }} {{ user.day }} at {{ user.time }}</h4>
	<br><br>
	<h2>Projects ({{ user.project_count }})</h2>
	{% for project in user.all_projects %}
		<div>
		<img src="{{ project.thumbnail_url }}">
		<h4>{{ project.title }}</h4>
		{% if project.comments_allowed %}
			<h4>You can comment on this project</h4>
		{% else %}
			<h4>You cannot comment on this project</h4>
		{% endif %}
		<h4>This project was created on {{ project.created }}</h4>
		<h4>This project was shared on {{ project.share_date }}</h4>
		<div>
			<h4>This project has {{ project.views }} views</h4>
			<h4>This project has {{ project.loves }} loves</h4>
			<h4>This project has {{ project.favorites }} favorites</h4>
			{% if not project.remix_count %}
				<h4>This project has 0 remixes </h4>
			{% else %}
				<h4>This project has {{ project.remix_count }} remixes</h4>
			{% endif %}
		</div>
	{% endfor %}
</body>
</html>
