<!DOCTYPE html>
<html>
<head>
	<title>Pyratch Developer Build - Userpage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<img src="{{ user.icon_url }}">
	<h1>{{ user.name }}</h1>
	<h4>Lives in {{ user.country }}</h4>
	<h4>Joined on {{ info.join_date }}</h4>
	<br><br>
	<h2>Following ({{ user.following_count() }})
	{% for following in info.all_following %}
		<a href="http://127.0.0.1:5000/users/{{ following.name }}">{{ following.name }}</a>
	{% endfor %}
</body>
</html>
